
.lime {
	background-color: #80B959!important;
}	
.lime-text {
	color: #80B959!important;
}	
.blue {
	background-color: #43b5e9!important;
	/*#1A9EDB*/
}	
.green {
	background-color: #23A657!important;
	/*#80B959
	#679E42*/
}
.red {
	background-color: #F05557!important;
}
.golden {
	background-color: #F9C828!important;
}
