<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/tx
                http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/data/jpa
                http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <jpa:repositories base-package="pl.dmichalski.rss.core.repository"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="packagesToScan" value="pl.dmichalski.rss.core.entity"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceProvider">
            <bean class="org.hibernate.jpa.HibernatePersistenceProvider"/>
        </property>
        <property name="jpaProperties">
            <map>
                <entry key="hibernate.dialect" value="org.hibernate.dialect.PostgresPlusDialect"/>
                <entry key="hibernate.show_sql" value="${prod.hibernate.show.sql}"/>
                <entry key="hibernate.hbm2ddl.auto" value="${prod.hibernate.hbm2ddl.auto}"/>
                <entry key="hibernate.connection.CharSet" value="${prod.hibernate.connection.CharSet}"/>
                <entry key="hibernate.connection.characterEncoding" value="${prod.hibernate.connection.characterEncoding}"/>
                <entry key="hibernate.connection.useUnicode" value="${prod.hibernate.connection.useUnicode}"/>
            </map>
        </property>
    </bean>

    <tx:annotation-driven/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>
