<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd
               http://www.springframework.org/schema/task
               http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.danielmichalski.rss">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <task:annotation-driven/>

    <context:property-placeholder location="classpath:properties/app.properties, classpath:properties/mail.properties"/>

    <beans profile="dev">
        <import resource="classpath:spring/store/spring-data-dev.xml"/>
    </beans>

    <beans profile="prod">
        <import resource="classpath:spring/store/spring-data-prod.xml"/>
    </beans>

</beans>
