<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security pre-post-annotations="enabled"/>

    <http use-expressions="true">
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/account/**" access="hasRole('ROLE_USER')" />
        <form-login login-page="/login" />
        <logout logout-url="/logout"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt" />
            <jdbc-user-service data-source-ref="dataSource"
                authorities-by-username-query="SELECT web_user.name, user_role.name FROM web_user
                    JOIN web_user_x_user_role on web_user.id = web_user_x_user_role.userEntities_id
                    JOIN user_role on web_user_x_user_role.roleEntities_id = user_role.id
                    WHERE web_user.name = ?"
                users-by-username-query="SELECT name,password,enabled FROM web_user WHERE name = ?"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>